
/* Apply block styling to VA.com headings */

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_semi_eot.eot");
    src: url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_semi_eot.eot?") format('embedded-opentype'), url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_semi_otf.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

#mega-nav ul.level1 li.mega-nav-item  a span.mega-nav-shim-left,
.gradient-panel-header,
.promo-squares h4,
.mega-nav-content .mega-nav-group .level2 .mega-nav-sub-name,
.corporate-login-heading,
.widget-option h3,
#pageName h1, #pageName-trim h1,
.free-text h1, .free-text h2, .free-text h3,
.topfares,
.bannerContainerNoOverlay .bannerHeader,
.bannerContainerNoOverlay .bannerHeader span {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold" !important;
}

.bannerContainerNoOverlay .bannerHeader,
.bannerContainerNoOverlay .bannerHeader span {
    letter-spacing: 4px;
}

#mega-nav ul.level1 li.mega-nav-item  a span.mega-nav-shim-left {
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 0 15px !important;
}

.mega-nav-content .mega-nav-group .level2 .mega-nav-sub-name {
    color: #52585d;
}

.corporate-login-heading {
    font-size: 20px;
}

/* Increase letter spacing of page headings and banner heading */
.overlay .bannerHeader,
#pageName h1, #pageName-trim h1 {
    letter-spacing: 4px !important;
}
