
/* Apply Montserrat Light and SemiBold updates to all body text */

@font-face {
    font-family: "Montserrat-Light";
    src: url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_light_eot.eot");
    src: url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_light_eot.eot?") format('embedded-opentype'), url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_light_otf.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_semi_eot.eot");
    src: url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_semi_eot.eot?") format('embedded-opentype'), url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_semi_otf.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}


/* Hack to make all elements Montserrat-Light */
body, html, div, a, table, tr, td, span, label, th, h1, h2, h3, h4, h5, input, select, pre, legend, button, input[type=submit], input[type=text], input[type=button], p {
    font-family: "Montserrat-Light" !important;
}
