/* VA.com - make elements block caps */
#mega-nav ul.level1 li.mega-nav-item  a span.mega-nav-shim-left,
.gradient-panel-header,
.promo-squares h4,
.mega-nav-content .mega-nav-group .level2 .mega-nav-sub-name,
.corporate-login-heading,
.widget-option h3,
#pageName h1, #pageName-trim h1,
.free-text h1, .free-text h2, .free-text h3,
.topfares,
.overlay .bannerHeader,
.overlay .bannerHeader span,
 /* IBE */
 #ibe-page-name span, /* Book a flight text */
.SPR #flc_1 h2, 
#seats_1 h2, /* Seat title */
h2.ancillary-name,
h3.car-title,
.insurance h2 {
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    font-family: "Montserrat-SemiBold" !important;
}


/* VA.com - Mega-nav font updates */
#mega-nav ul.level1 li.mega-nav-item  a span.mega-nav-shim-left {
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 0 15px !important;
}

.mega-nav-content .mega-nav-group .level2 .mega-nav-sub-name {
    color: #52585d;
}

.corporate-login-heading {
    font-size: 20px;
}

/* VA.com Increase letter spacing of page headings and banner heading */
#pageName h1, #pageName-trim h1,
.overlay .bannerHeader {
    letter-spacing: 4px !important;
}


/* IBE - Remove flight icon on select flights page */
.SPR .flc .flight-list-header-container .flight-info,
.SPR .flight-list-container+.flight-list-container .flight-list-advanced-header-container .flight-info,
.SPR .flight-list-container .flight-list-advanced-header-container .flight-info {
    background-image: none !important;
}
