/* VA.com - make elements block caps */
#mega-nav ul.level1 li.mega-nav-item  a span.mega-nav-shim-left,
.gradient-panel-header,
.promo-squares h4,
.mega-nav-content .mega-nav-group .level2 .mega-nav-sub-name,
.corporate-login-heading,
.widget-option h3,
#pageName h1, #pageName-trim h1,
.free-text h1, .free-text h2, .free-text h3,
.topfares,
.overlay .bannerHeader,
.overlay .bannerHeader span,
 /* IBE */
.SPR #flc_1 h2 {
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    font-family: "Montserrat-SemiBold" !important;
}


/* VA.com - Mega-nav font updates */
#mega-nav ul.level1 li.mega-nav-item  a span.mega-nav-shim-left {
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 0 15px !important;
}

.mega-nav-content .mega-nav-group .level2 .mega-nav-sub-name {
    color: #52585d;
}

.corporate-login-heading {
    font-size: 20px;
}

/* Increase letter spacing of page headings and banner heading */
#pageName h1, #pageName-trim h1,
.overlay .bannerHeader {
    letter-spacing: 4px !important;
}
